.profile__edit-button {
  background: url(../../../images/EditButton.svg) no-repeat;
  width: 24px;
  height: 24px;
  border: 0;
  margin-top: 13px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    background: url(../../../images/EditButton1818.svg) no-repeat;
    margin-top: 36px;
  }
  
}