.elements__card-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 17px;
  list-style: none;
  row-gap: 20px;
  
}
