.popup__name-zoom {
  margin: 0;
  margin-top: 10px;
  width: 291px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FFFFFF; 
}

@media screen and (max-width: 900px) {
  .popup__name-zoom {
    width: 240px;
    height: 12px;
  }
}