.card__like {
  margin-top: 22px;
  margin-left: auto;
  width: 22px; 
  height: 19px;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}